#system-profile {
    .system-profile {
        &__bookmark {
            font-size: 1.5rem;
            padding-top: .75rem;
            cursor: initial;
        }

        &__main-nav-link {
            color: color($theme-color-primary);
            margin-left: -0.5rem;
            margin-top: -5rem;
            margin-bottom: 2.5rem;
        }
    }

  .description-truncated {
    .description-definition {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &.expanded {
      .description-definition {
        display: block;
        overflow: auto;
      }
      .expand-icon {
        transform: rotate(180deg);
      }
    }
  }

    .sticky-nav {
        align-self: start;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        padding-top: 1rem;
        @media screen and (min-width: $desktop) {
            margin-top: -1rem;
          }
    }

    .link-header {
        text-underline-offset: 0.25rem;
    }

  .url-card-link {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

    .usa-sidenav, .usa-nav__primary-item {
        border: none;

        &__item {
            border: none;
        }
    }

    .usa-card__container {
        border-radius: .25rem;
        margin: 0;
    }

    .usa-sidenav__item a:not(.usa-current) {
        padding-left: 0;
    }

    .usa-nav__close {
        z-index: 1000;
    }

    .nav-group-border {
        border-bottom: .5px solid color($theme-color-disabled-light);
    }

  dd.description-definition {
    overflow-wrap: break-word;
  }
}

.ReactModal__Content {
  width: 90%;
  height: 80%;
  overflow: scroll;
  font-size: inherit;
  line-height: inherit;

  .easi-modal__body {
    padding: 0;

    .usa-sidenav {
      button.usa-button--unstyled {
        color: color('base-dark');
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        width: 100%;
        line-height: inherit;

        &:not(.usa-current) {
          padding-left: 0;

          &:hover {
            color: color('primary');
            background-color: color('base-lightest');
          }
        }

        &:focus {
          outline-offset: 0;
        }
      }
    }

    .system-detail__subNav__list.subNav button.usa-button--unstyled {
      display: flex;
      color: color('white');
      text-decoration: none;
      position: relative;
      line-height: inherit;

      &.subNav--current {
          padding: 0.5rem 1rem;
          font-weight: bold;

          &::after {
            background-color: white;
            border-radius: 99rem;
            content: "";
            display: block;
            position: absolute;
            bottom: 0.25rem;
            top: 0.25rem;
            width: 0.25rem;
            left: 0;
        }
      }
    }
  }

  .easi-modal__x-button {
    margin: 0;
    padding: .75rem;
    display: flex;
    align-items: center;
  }
}

.top-divider {
    @media screen and (min-width: $desktop) {
        height: .25rem;
        width: 100%;
        background-color: color($theme-color-primary-lighter);
    }
}

.side-divider {
    padding-left: 2rem;
    @media screen and (max-width: $desktop) {
        border-left: .25rem solid color($theme-color-primary-lighter);
    }
}
