@use 'uswds-core' as *;
@use 'colors' as *;
@use 'viewports' as *;

#system-profile {
    .system-profile {
        &__bookmark {
            font-size: 1.5rem;
            padding-top: .75rem;
            cursor: initial;
        }

        &__main-nav-link {
            color: color($theme-color-primary);
            margin-left: -0.5rem;
            margin-top: -5rem;
            margin-bottom: 2.5rem;
        }
    }

  h2 {
    scroll-margin-top: 4rem;
  }

  .description-truncated {
    .description-definition {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &.expanded {
      .description-definition {
        display: block;
        overflow: auto;
      }
      .expand-icon {
        transform: rotate(180deg);
      }
    }
  }

    .side-nav {
        margin-top: -2rem !important;
        padding-top: 3rem;
        @media screen and (min-width: $desktop) {
            margin-top: -1rem;
        }
    }

    .link-header {
        text-underline-offset: 0.25rem;
    }

  .url-card-link {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

    .usa-sidenav, .usa-nav__primary-item {
        border: none;

        &__item {
            border: none;
        }
    }

    .usa-card__container {
        border-radius: .25rem;
        margin: 0;
    }

    .usa-sidenav__item a:not(.usa-current) {
        padding-left: 0;
    }

    .usa-nav__close {
        z-index: 1000;
    }

    .nav-group-border {
        border-bottom: .5px solid color($theme-color-disabled-light);
    }

  dd.description-definition {
    overflow-wrap: break-word;
  }
}

.top-divider {
  @media screen and (min-width: $desktop) {
      height: .25rem;
      width: 100%;
      background-color: color($theme-color-primary-lighter);
  }
}

.side-divider {
  padding-left: 2rem;
  @media screen and (max-width: $desktop) {
      border-left: .25rem solid color($theme-color-primary-lighter);
  }
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
