#system-profile {
    .system-profile {
        &__summary-box {
            border: 0;
            background-color: color($theme-color-primary-lighter);
            padding-left: 0;
            padding-right: 0;
        }

        &__acronym {
            font-size: 1rem;
            font-weight: normal;
        }

        &__summary-body {
            font-weight: normal;
            font-size: 1rem;
        }

        &__subheader {
            font-size: 1.5rem;
        }

        &__nav {
            padding: 0;
        }

        &__nav-button {
            width: 100%;
            align-items: center;
        }

        &__tag {
            padding: 5px 10px;
            display: inline-block;
            text-transform: inherit;
            border-radius: 0;
            font-weight: bold;
        }
    }

    .link-header {
        text-underline-offset: 0.25rem;
    }

    .usa-breadcrumb {
        background-color: transparent;
        padding: 0;
    }

    .usa-sidenav, .usa-nav__primary-item {
        border: none;

        &__item {
            border: none;
        }
    }

    .usa-card__container {
        border-radius: .25rem;
        margin: 0;
    }

    .usa-card__header {
        align-items: inherit;
    }

    .usa-sidenav__item a:not(.usa-current) {
        padding-left: 0;        
    }

    .nav-group-border {
        border-bottom: .5px solid color($theme-color-disabled-light);
    }
}

.top-divider {
    @media screen and (min-width: $desktop) {
        height: .25rem;
        width: 100%;
        background-color: color($theme-color-primary-lighter);
    }
}

.side-divider {
    @media screen and (max-width: $desktop) {
        border-left: .25rem solid color($theme-color-primary-lighter);
        padding-left: 1rem;
    }    
}
