#main-content {
    .system-profile {
        &__summary-box {
            border-top: 0;
            background-color: color($theme-color-primary-lighter);
            padding-left: 0;
        }

        &__acronym {
            font-size: 1rem;
            font-weight: normal;
        }

        &__summary-body {
            font-weight: normal;
            font-size: 1rem;
        }

        &__subheader {
            font-size: 1.5rem;
        }
    }    

    .usa-breadcrumb {
        background-color: transparent;
        padding: 0;
    }   
}