.action-banner {
  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &.usa-alert {
      background-color: #f4e3db;

    &::before {
      width: 0;
    }
  }

  &__icon {
    margin-right: 13px;
  }

  &__button {
    align-self: center;
  }

  &__text {
    flex-grow: 2;

    h2 {
      margin: 0;
    }
  }
}
