/* autoprefixer grid: autoplace */

.est-lifecycle-cost {
  margin-top: 2.5rem;

  &__year-costs {
    margin-top: 2rem;
  }

  &__field-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;

    @media screen and (min-width: $desktop) {
      grid-template-columns: 1fr 0.5fr 0.4fr;
      grid-template-rows: auto;
    }
  }

  &__phase-cost-wrapper {
    margin-top: 1.5rem;

    &:first-of-type {
      margin-top: 0.5rem;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__phase-cost-wrapper,
  &__phase-field-wrapper,
  &__cost-field-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__phase-fieldset {
    @media screen and (max-width: $desktop) {
      grid-column: 1 / span 3;
      grid-row: row;
    }
  }

  &__phase-btn-wrapper {
    display: flex;
    align-items: flex-end;
    @media screen and (max-width: $desktop) {
      grid-column: 3 / span 1;
      grid-row: row 2;
    }
  }

  &__remove-phase-btn {
    &.usa-button--unstyled {
      padding: 0.75rem 0;
    }
  }

  &__cost-field-wrapper {
    @media screen and (max-width: $desktop) {
      grid-column: 1 / span 2;
      grid-row: row 2;
    }
  }

  &__phase-help-text {
    margin-top: 2rem;
  }

  &__total-cost-wrapper {
    height: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 0 0 0;
    padding: 2.5em 4em;
    background-color: rgba(196, 196, 196, 0.2);

    @media screen and (min-width: $desktop) {
      margin: 0 0 0 2.5em;
    }
  }

  .usa-label {
    margin-top: 0;
  }

  // Override padding because labels are inline
  .usa-radio__input {
    padding-left: 0;
  }

  &__dt-total {
    font-size: 18px;
  }

  &__dd-total {
    font-size: 20px;
  }
}
