/* autoprefixer grid: autoplace */

.est-lifecycle-cost {
  margin-top: 1rem;
  flex-direction: row-reverse;

  &__year-costs {
    margin-top: 2rem;
  }

  &__phase-cost-wrapper {
    margin-top: 1.5rem;

    &:first-of-type {
      margin-top: 0.5rem;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    .usa-form-group--error {
      margin-top: 0;
    }
  }

  .usa-label {
    margin-top: 0;
  }

  // Override padding because labels are inline
  .usa-radio__input {
    padding-left: 0;
  }

  .help-title {
    font-size: 1.375em;
  }

  // Review Table Styles
  &__review-table-wrapper {
    padding: 32px 16px;
  }

  &__review-table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;

    &--mobile {
      width: 300px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  &__review-table-caption {
    margin-bottom: 1em;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
  }

  &__review-th {
    &--col {
      padding-bottom: 24px;
    }

    &--row {
      width: 110px;
    }
  }

  &__border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  &__help-box {
    border: 3px solid #171717;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
