#main-content .usa-pagination {
    justify-content: left;
    background-color: transparent;

    .usa-pagination__button:not(.usa-current) {
      background-color: white !important; 
    }

    .usa-current {
      background-color: black !important;
    }

    &__page-no {
      margin-left: -0.25em;
    }

    &__link {
        border: none;
        background-color: transparent;
    }
}
