@use 'uswds-core' as *;
@use 'colors' as *;

.distinct-content {
  background-color: color('base-lightest');
  padding: 1rem 0 2rem;
  margin-bottom: 3rem;
}

.sidebar {
  border-top: solid 4px $turquoise;
  h4 {
    margin-bottom: 0;
  }
}
