// @forward "usa-button";
@use 'uswds-core' as *;

.easi-toast {
  .toastui-editor-contents {
    font-family: 'Public Sans';
    font-size: size('body', 4);
    line-height: line-height('body', 4);
  }

  .toastui-editor-contents *:not(table) {
    line-height: inherit;
  }

  .toastui-editor-contents a {
    color: color('primary');
    &:focus {
      outline: 0.25rem solid color('blue-40v');
      outline-offset: 0;
    }
    &:active {
      color: color('primary-darker');
    }
    &:hover {
      color: color('primary-dark');
    }
  }

  .toastui-editor-contents ol > li::before {
    color: color('base-darkest');
  }

  .toastui-editor-contents ul > li::before {
    margin-top: 10px;
    background-color: color('base-darkest');
  }
}

.easi-toast-editor {
  height: 155px;

  .toastui-editor-defaultUI {
    border-color: color('gray-60');
    border-radius: 0;
  }

  .toastui-editor-toolbar {
    height: auto;
  }
  .toastui-editor-defaultUI-toolbar {
    height: auto;
    background: transparent;
    border-bottom: 1px solid color('gray-10');
    padding: 4px 2px 2px;
  }

  .toastui-editor-toolbar-icons {
    border-color: white;
    border-radius: 4px;
    margin: 0 4px 0 0;
    &:hover {
      border-color: white !important;
    }
  }

  .toastui-editor-toolbar-divider {
    margin: 8px 8px 0 4px;
    height: 16px;
    background-color: color('gray-10');
  }

  .toastui-editor-contents {
    padding: 6px 9px 9px;
  }

  .toastui-editor-popup {
    box-shadow: 0px 8px 16px 0px #0000001A;

    @media only screen and (max-width: 480px) {
      margin-left: 0;
    }
  }

  .toastui-editor-popup-body {
    padding: 2rem;
    font-family: 'Public Sans';
    color: color('base-darkest');

    label,
    input {
      font-weight: 400;
      font-size: size('body', 4);
      line-height: line-height('body', 4);
    }

    label {
      margin: 1rem 0 0.5rem;
      color: color('base-darkest');

      &:first-child {
        margin-top: 0;
      }
    }

    input {
      border: 1px solid color('gray-60');
      border-radius: 0;
      padding: 9px 8px;
      width: 100%;
      height: auto;

      &:focus {
        outline: none;
        border-color: inherit;
      }
    }
  }

  .toastui-editor-button-container {
    margin-top: 1.5rem;
    text-align: left;

    button {
      all: unset;
      &:hover {
        all: unset;
      }

      .usa-button {
        width: auto;
        margin-top: 0;
      }
    }
  }
}