#! /usr/bin/env bash

#########################
# Project Configuration #
#########################

# React configs

export REACT_APP_OKTA_DOMAIN=https://test.idp.idm.cms.gov
export REACT_APP_OKTA_ISSUER=https://test.idp.idm.cms.gov/oauth2/aus2e96etlbFPnBHt297
export REACT_APP_OKTA_REDIRECT_URI=http://localhost:3000/implicit/callback
export REACT_APP_OKTA_CLIENT_ID=0oa2e913coDQeG19S297


# OKTA variables needed for  
export OKTA_BASE_URL=https://test.idp.idm.cms.gov/oauth2/aus2e96etlbFPnBHt297
export OKTA_ISSUER=https://test.idp.idm.cms.gov/oauth2/aus2e96etlbFPnBHt297
export OKTA_CLIENT_ID=0oa2e913coDQeG19S297

##########################################
# DO NOT MAKE LOCAL CHANGES TO THIS FILE #
#                                        #
# Vars in this file can be overridden by #
# exporting them in .envrc.local         #
##########################################

# Add local paths for binaries and scripts
PATH_add ./bin

# Load a local overrides file. Any changes you want to make for your local
# environment should live in that file.

if [ -e .envrc.local ]
then
  source_env .envrc.local
fi
