#! /usr/bin/env bash

#########################
# Project Configuration #
#########################

# Helpers for .envrc
APP_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

# Set environment to local to avoid deployed environment specifics (like auth)
export APP_ENV=local
export APP_PROTOCOL=http
export APP_DOMAIN=localhost
export APP_PORT=3000
export APP_HOST=$APP_DOMAIN:$APP_PORT
export CLIENT_ADDRESS=$APP_PROTOCOL://$APP_HOST
export API_PORT=8080
export REACT_APP_API_ADDRESS=$CLIENT_HOSTNAME:$API_PORT/api/v1

# Email variables
export EMAIL_TEMPLATE_DIR=$APP_DIR/pkg/appses/templates

# AWS variables
export AWS_REGION=us-west-2
export AWS_SES_SOURCE=no-reply-$APP_ENV@info.easi.cms.gov
export GRT_EMAIL=mikena@truss.works

# OKTA variables

export OKTA_CLIENT_ID=0oa2e913coDQeG19S297
export REACT_APP_OKTA_CLIENT_ID=$OKTA_CLIENT_ID
export OKTA_DOMAIN=https://test.idp.idm.cms.gov
export REACT_APP_OKTA_DOMAIN=$OKTA_DOMAIN
export OKTA_SERVER_ID=aus2e96etlbFPnBHt297
export REACT_APP_OKTA_SERVER_ID=$OKTA_SERVER_ID
export OKTA_ISSUER=$OKTA_DOMAIN/oauth2/$OKTA_SERVER_ID
export REACT_APP_OKTA_ISSUER=$OKTA_ISSUER
export OKTA_REDIRECT_URI=http://localhost:3000/implicit/callback
export REACT_APP_OKTA_REDIRECT_URI=$OKTA_REDIRECT_URI

# For connecting to a local postgres instance
export PGHOST=localhost
export PGPORT=5432
export PGDATABASE=postgres
export PGUSER=postgres
export PGPASS=""
export PGSSLMODE=disable

##########################################
# DO NOT MAKE LOCAL CHANGES TO THIS FILE #
#                                        #
# Vars in this file can be overridden by #
# exporting them in .envrc.local         #
##########################################

# Add local paths for binaries and scripts
PATH_add ./bin

export CEDAR_ENV=dev
export CEDAR_API_URL="webmethods-apigw.cedardev.cms.gov"
export CEDAR_DIRECTORY=pkg/cedar
export CEDAR_SWAGGER_FILE=$CEDAR_DIRECTORY/swagger-$CEDAR_ENV.json
# Load a local overrides file. Any changes you want to make for your local
# environment should live in that file.

if [ -e .envrc.local ]
then
  source_env .envrc.local
fi
