#! /usr/bin/env bash

#########################
# Project Configuration #
#########################

# Helpers for .envrc
APP_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

# Set environment to local to avoid deployed environment specifics (like auth)
export APP_ENV=local
export CLIENT_PROTOCOL=http
export CLIENT_DOMAIN=localhost
export CLIENT_PORT=3000
export CLIENT_HOSTNAME=$CLIENT_DOMAIN:$CLIENT_PORT
export CLIENT_ADDRESS=$CLIENT_PROTOCOL://$CLIENT_HOSTNAME
export API_PORT=8080
export REACT_APP_API_ADDRESS=$CLIENT_PROTOCOL://$CLIENT_DOMAIN:$API_PORT/api/v1
export REACT_APP_APP_ENV=$APP_ENV

# Email variables
export EMAIL_TEMPLATE_DIR=$APP_DIR/pkg/email/templates
export GRT_EMAIL=success@simulator.amazonses.com

# AWS variables
export AWS_REGION=us-west-2
export AWS_SES_SOURCE="\"EASi Local\" <no-reply-$APP_ENV@info.easi.cms.gov>"
export AWS_S3_FILE_UPLOAD_BUCKET=easi-app-file-uploads

# OKTA variables
export OKTA_CLIENT_ID=0oa2e913coDQeG19S297
export OKTA_CLIENT_ID_DEV=0oa2e913coDQeG19S297
export REACT_APP_OKTA_CLIENT_ID=$OKTA_CLIENT_ID
export OKTA_DOMAIN=https://test.idp.idm.cms.gov
export REACT_APP_OKTA_DOMAIN=$OKTA_DOMAIN
export OKTA_SERVER_ID=aus2e96etlbFPnBHt297
export OKTA_SERVER_ID_DEV=aus2e96etlbFPnBHt297
export REACT_APP_OKTA_SERVER_ID=$OKTA_SERVER_ID
export OKTA_ISSUER=$OKTA_DOMAIN/oauth2/$OKTA_SERVER_ID
export REACT_APP_OKTA_ISSUER=$OKTA_ISSUER
export OKTA_REDIRECT_URI=http://localhost:3000/implicit/callback
export REACT_APP_OKTA_REDIRECT_URI=$OKTA_REDIRECT_URI

# OKTA test account
# Needed to run Cypress tests. Look in 1Password.
export OKTA_TEST_USERNAME=
export OKTA_TEST_PASSWORD=
export OKTA_TEST_SECRET=

# Launch Darkly account
export LD_SDK_KEY=
export LD_TIMEOUT_SECONDS=30
export LD_ENV_USER=
export FLAG_SOURCE=LOCAL # LAUNCH_DARKLY or LOCAL

# For connecting to a local postgres instance
export PGHOST=localhost
export PGPORT=5432
export PGDATABASE=postgres
export PGUSER=postgres
export PGPASS=""
export PGSSLMODE=disable

##########################################
# DO NOT MAKE LOCAL CHANGES TO THIS FILE #
#                                        #
# Vars in this file can be overridden by #
# exporting them in .envrc.local         #
##########################################

# Add local paths for binaries and scripts
PATH_add ./bin

export CEDAR_ENV=dev
export CEDAR_API_URL="webmethods-apigw.cedardev.cms.gov"
export CEDAR_DIRECTORY=pkg/cedar
export CEDAR_EASI_DIRECTORY=$CEDAR_DIRECTORY/cedareasi
export CEDAR_LDAP_DIRECTORY=$CEDAR_DIRECTORY/cedarldap
export CEDAR_EASI_SWAGGER_FILE=$CEDAR_EASI_DIRECTORY/swagger-$CEDAR_ENV.json
export CEDAR_LDAP_SWAGGER_FILE=$CEDAR_LDAP_DIRECTORY/swagger-$CEDAR_ENV.json

export LAMBDA_ENDPOINT="http://localhost:9001"

# Load a local overrides file. Any changes you want to make for your local
# environment should live in that file.

if [ -e .envrc.local ]
then
  source_env .envrc.local
fi
