services:
  db:
    image: postgres:14.11
    environment:
      - POSTGRES_PASSWORD=mysecretpassword
    ports:
      - '5432:5432'
  db_migrate:
    image: '${ECR_REGISTRY}/${ECR_REPOSITORY}:${GIT_HASH}'
    environment:
      - FLYWAY_USER=postgres
      - FLYWAY_PASSWORD=mysecretpassword
      - FLYWAY_URL=jdbc:postgresql://db/postgres
      - FLYWAY_PLACEHOLDERS_APP_USER_PASSWORD=supersecretapp # Keep this around for legacy migration V88__Add_app_user.sql
    depends_on:
      - db
  minio:
    restart: always
    image: minio/minio:latest
    ports:
      - '9004:9004'
    entrypoint: minio server --address :9004 /data
  minio_mc:
    image: minio/mc:latest
    depends_on:
      - minio
    volumes:
      - ./minio_config.json:/root/.mc/config.json
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc rb --force local/easi-app-file-uploads/;
      /usr/bin/mc mb --quiet local/easi-app-file-uploads/;
      /usr/bin/mc policy set public local/easi-app-file-uploads;
      "
