services:
  db:
    image: postgres:14.11
    command: ['postgres', '-c', 'log_statement=all', '-c', 'max_connections=25']
    environment:
      - POSTGRES_PASSWORD=mysecretpassword
  db_migrate:
    image: easi-db-migrate:latest
    environment:
      - FLYWAY_USER=postgres
      - FLYWAY_PASSWORD=mysecretpassword
      - FLYWAY_URL=jdbc:postgresql://db/postgres
      - FLYWAY_PLACEHOLDERS_APP_USER_PASSWORD=supersecretapp # Keep this around for legacy migration V88__Add_app_user.sql
    depends_on:
      - db
  easi:
    environment:
      - CEDAR_CORE_MOCK
      - CEDAR_INTAKE_ENABLED
      - CEDAR_API_KEY
      - CEDAR_API_URL
      - CEDAR_PROXY_URL=cedarproxy:8001
      - CEDAR_CORE_SKIP_PROXY
      - CEDAR_CORE_API_VERSION
      - CEDAR_EMAIL_ADDRESS
      - HTTP_PROXY
      - HTTPS_PROXY
      - APP_ENV
      - APPLICATION_VERSION
      - APPLICATION_DATETIME
      - APPLICATION_TS
      - CLIENT_PROTOCOL=http
      - CLIENT_DOMAIN=localhost
      - CLIENT_PORT=3000
      - CLIENT_HOSTNAME=localhost:3000
      - CLIENT_ADDRESS=http://localhost:3000
      - API_PORT=8080
      - OKTA_CLIENT_ID=0oa2e913coDQeG19S297
      - OKTA_ISSUER=https://test.idp.idm.cms.gov/oauth2/aus2e96etlbFPnBHt297
      - GRT_EMAIL=success@simulator.amazonses.com
      - IT_INVESTMENT_EMAIL=success@simulator.amazonses.com
      - EASI_HELP_EMAIL=success@simulator.amazonses.com
      - TRB_EMAIL=success@simulator.amazonses.com
      - OIT_FEEDBACK_CHANNEL_SLACK_LINK
      - EMAIL_TEMPLATE_DIR=./pkg/email/templates
      - AWS_REGION=us-west-2
      - AWS_SES_SOURCE=no-reply-$APP_ENV@info.easi.cms.gov
      - AWS_SES_SOURCE_ARN
      - AWS_S3_FILE_UPLOAD_BUCKET=easi-app-file-uploads
      - AWS_ACCESS_KEY_ID=1
      - AWS_SECRET_ACCESS_KEY=1
      - PGHOST=db
      - PGPORT=5432
      - PGDATABASE=postgres
      - PGUSER=postgres
      - PGPASS=mysecretpassword
      - PGSSLMODE=disable
      - DB_MAX_CONNECTIONS=20
      - FLAG_SOURCE
      - FLAGDATA_FILE
      - LD_SDK_KEY
      - LD_TIMEOUT_SECONDS=30
      - LD_ENV_USER
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
      - MINIO_ADDRESS
      - SERVER_CERT
      - SERVER_KEY
      - USE_TLS
      - ALT_JOB_CODES
      - OKTA_API_URL
      - OKTA_API_TOKEN
      - USE_OKTA_LOCAL
    depends_on:
      db_migrate:
        condition: service_completed_successfully # Only start if migrations completed successfully
  cedarproxy:
    image: cedarproxy:latest
    environment:
      - CEDAR_API_URL
      - CEDAR_CACHE_EXPIRE_TIME
    build:
      dockerfile: Dockerfile.cedarproxy
      context: ./cedarproxy/
  easi_client:
    image: easi_client:latest
  minio:
    restart: always
    image: minio/minio:latest
    entrypoint: minio server --address :9004 /data
    ports:
    - '9004:9004'
  minio_mc:
    image: minio/mc:latest
    depends_on:
      - minio
    volumes:
      - ./minio_config.json:/root/.mc/config.json
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc rb --force local/easi-app-file-uploads/;
      /usr/bin/mc mb --quiet local/easi-app-file-uploads/;
      /usr/bin/mc policy set public local/easi-app-file-uploads;
      "
  email:
    image: dockage/mailcatcher:0.8.2
