@use 'uswds-core' as *;

.easi-modal_system-profile .ReactModal__Content {
  height: 100%;
  overflow-y: scroll;
  font-size: inherit;
  line-height: inherit;
  max-height: 100vh !important;

  .easi-modal__body {
    padding: 0;

    .usa-sidenav {
      button.usa-button--unstyled {
        color: color('base-dark');
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        width: 100%;
        line-height: inherit;

        &:not(.usa-current) {
          padding-left: 0;

          &:hover {
            color: color('primary');
            background-color: color('base-lightest');
          }
        }

        &:focus {
          outline-offset: 0;
        }
      }
    }

    .sticky-nav h5 {
      font-size: inherit !important;
      margin-bottom: 0.5rem !important;
    }

    .system-detail__subNav__list.subNav button.usa-button--unstyled {
      display: flex;
      color: color('white');
      text-decoration: none;
      position: relative;
      line-height: inherit;

      &.subNav--current {
          padding: 0.5rem 1rem;
          font-weight: bold;

          &::after {
            background-color: white;
            border-radius: 99rem;
            content: "";
            display: block;
            position: absolute;
            bottom: 0.25rem;
            top: 0.25rem;
            width: 0.25rem;
            left: 0;
        }
      }
    }
  }

}
