.easi-inline-alert {
  &.usa-alert {
    background-color: white;
    background-size: 1.6rem;
    background-position: 0.5rem 0.5rem;
    padding: 0;
    &::before {
      width: 0.2rem;
      background: #585c62;
    }
    .usa-alert__body {
      padding-left: 2.8rem;
    }
    .usa-alert__text:only-child {
      margin-bottom: 0;
    }
  }
}
