#easi-okta-sign-in {
  #okta-sign-in.auth-container {
    .okta-form-label,
    .okta-form-input-field input,
    .link,
    h2,
    h3 {
      color: color('base-dark');
    }
  }

  #okta-sign-in.auth-container.main-container {
    color: color('base-dark');
  }
}
