.accessibility-request {

  &__side-nav {
    border-top: 4px solid color($theme-color-primary-lighter);
  }

  &__other-details {
    border-bottom: 1px solid color($theme-color-base-lighter);
    border-top: 1px solid color($theme-color-base-lighter);
  }

  &__remove-request {
    padding: 0;
    background: none;
    border: none;
    text-align: left;
    text-decoration: underline;
    color: color($theme-color-error);
    cursor: pointer;
  }

  &__note-field {
    &.usa-textarea {
      height: 5rem;
    }
  }

  &__add-note-btn {
    position: absolute;
    left: -999em;
    right: auto;
    margin-top: 1em;

    &:focus {
      position: initial;
    }
  }
}

.report-problem-link-area {
  margin-top: 60px;
}
