.easi-discussion-post {
  &__header {
    justify-content: space-between;
  }

  .easi-discussion-avatar {
    box-sizing: content-box;
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    margin-top: -4px;
  }
}
