@use 'uswds-core' as *;
@use 'colors' as *;

.easi-tabs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;

  &__tab-list {
    display: inline-block;
    padding: 0;
    margin: 0 0 -1px;
    list-style-type: none;
    white-space: nowrap;
  }

  &__tab {
    display: inline-flex;
    align-items: center;
    height: 51px;
    flex-shrink: 0;
    position: relative;
    margin-right: 2rem;

    &:after {
      background-color: color('primary');
      content: "";
      height: 4px;
      left: -1px;
      opacity: 0;
      position: absolute;
      right: -1px;
      bottom: -1px;
      transform: scaleX(0);
    }

    &--selected {
      .easi-tabs__tab-btn {
        color: color('primary');
      }

      &:after {
        opacity: 1;
        transform: scaleX(1);
      }
    }
  }

  &__tab-btn {
    height: 100%;
    padding: 0;
    background: none;
    border: 0;
    font-weight: bold;
    color: color('base-dark');

    &:hover {
      cursor: pointer;
    }
  }

  &__tab-panel {
    overflow: auto;
    border-top: 1px solid color($theme-color-base-lighter);

    &--bordered {
      border: 1px solid color($theme-color-base-lighter);

    }
  }
}
