.easi-governance-overview {
  &__text {
    font-size: 22px;
    line-height: 36px;
  }

  &__indented-wrapper {
    border-left: 4px solid #585C62;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  &__indented-body {
    margin: 0 0 0 6px;
    font-weight: bold;
  }
}