@use 'uswds-core' as *;
@use 'colors' as *;

#main-content {
    .easi-request {
        &__container {
            background-color: color('base-lightest');
            border: none;
            margin-bottom: 2.5rem;
            padding: 1.5em;
            padding-top: 0.1em;
        }

        &__button-link {
            text-decoration: none;
            border: 2px solid $easi-blue;
            border-radius: 0.25rem;
            color: $easi-blue;
            padding: 0.5em;
            font-weight: bold;

            &:visited {
                color: $easi-blue;
            }

            &:hover {
                color: color('primary-dark');
                border-color: color('primary-dark');
            }
        }
    }

    .text-bookmark-icon {
        top: 3px;
    }
}
