.easi-accordion-link {
  &__button {
    background: none;
      border: none;
      padding: 0;
      /*input has OS specific font-family*/
      color: #069;
      text-decoration: underline;
      cursor: pointer;
  }

  &__square {
    width: 16px;
    height: 16px;
  }

  &__content {
    border-left: 3px solid;
    margin-left: 7px;
    margin-top: 4px;
    padding-top: 4px;
    padding-left: 6px;

    p {
     margin-block-start: 0;
    }
  }
}