{
  "swagger" : "2.0",
  "info" : {
    "description" : "API's supporting the LDAP API Access to user information. These Read-Only interfaces allow for the lookup and authentication of an EUA user within LDAP.\n",
    "version" : "1.0",
    "title" : "LDAP"
  },
  "host" : "webmethods-apigw.cedarimpl.cms.gov",
  "basePath" : "/gateway/LDAP/1.0",
  "schemes" : [ "http" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "security" : [ {
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/authenticate" : {
      "post" : {
        "description" : "Retturn success or failure based on if the passed credentials are valid. This interface takes a users EUA Id and password.",
        "operationId" : "authenticate",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Credentials"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/AuthenticateResponse"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/healthCheck" : {
      "get" : {
        "description" : "Return success",
        "operationId" : "healthCheck",
        "consumes" : [ ],
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/HealthCheckResponse"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        },
        "security" : [ {
          "PublicAccess" : [ ]
        } ]
      }
    },
    "/person" : {
      "get" : {
        "description" : "Retrieve person information based on the query paramaters. This interface takes first_name, last_name, email, telephone, count_limit and return_attributes. There is a hard limit of 20 records returned. ",
        "operationId" : "person",
        "consumes" : [ ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "first_name",
          "in" : "query",
          "description" : "The first name of the user.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "last_name",
          "in" : "query",
          "description" : "The last name of the user.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "email",
          "in" : "query",
          "description" : "The email of the user.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "telephone",
          "in" : "query",
          "description" : "The telephone number of the user.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "count_limit",
          "in" : "query",
          "description" : "The number of records to return. There is a hard limit of 20 records returned.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "return_attributes",
          "in" : "query",
          "description" : "This option is not currently implemented.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/PersonList"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Response"
            }
          },
          "401" : {
            "description" : "Access Denied",
            "schema" : {
              "$ref" : "#/definitions/Response"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Response"
            }
          }
        },
        "security" : [ {
          "PublicAccess" : [ ]
        } ]
      }
    },
    "/person/{id}" : {
      "get" : {
        "description" : "Retrieve a user based on a passed in EUA userId.",
        "operationId" : "personId",
        "consumes" : [ ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The EUA id of the user.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Person"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Response"
            }
          },
          "401" : {
            "description" : "Access Denied",
            "schema" : {
              "$ref" : "#/definitions/Response"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Response"
            }
          }
        },
        "security" : [ {
          "PublicAccess" : [ ]
        } ]
      }
    }
  },
  "securityDefinitions" : {
    "apiKey" : {
      "type" : "apiKey",
      "name" : "x-Gateway-APIKey",
      "in" : "header"
    },
    "PublicAccess" : {
      "description" : "This scope is defined to give public access to GET methods.",
      "type" : "apiKey",
      "name" : "x-Gateway-APIKey",
      "in" : "header"
    }
  },
  "definitions" : {
    "Response" : {
      "type" : "object",
      "required" : [ "message", "result" ],
      "properties" : {
        "message" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "result" : {
          "type" : "string"
        }
      }
    },
    "AuthenticateResponse" : {
      "type" : "object",
      "required" : [ "Result" ],
      "properties" : {
        "Result" : {
          "type" : "string"
        }
      }
    },
    "PersonList" : {
      "type" : "object",
      "properties" : {
        "Person_List" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Person"
          }
        }
      }
    },
    "HealthCheckResponse" : {
      "type" : "object",
      "properties" : {
        "datetime" : {
          "type" : "string"
        },
        "status" : {
          "type" : "string"
        },
        "timestamp" : {
          "type" : "string"
        },
        "version" : {
          "type" : "string"
        }
      }
    },
    "Person" : {
      "type" : "object",
      "properties" : {
        "commonName" : {
          "type" : "string"
        },
        "email" : {
          "type" : "string"
        },
        "givenName" : {
          "type" : "string"
        },
        "surName" : {
          "type" : "string"
        },
        "telephoneNumber" : {
          "type" : "string"
        },
        "userName" : {
          "type" : "string"
        }
      }
    },
    "Credentials" : {
      "type" : "object",
      "required" : [ "credentials", "principal" ],
      "properties" : {
        "credentials" : {
          "type" : "string"
        },
        "principal" : {
          "type" : "string"
        }
      }
    }
  }
}