@use 'uswds-core' as *;
@use 'viewports' as *;

.grt-actions-radio-group .grt-action-radio__option {
  .usa-radio__input--tile + [class*=__label] {
    padding: 1.75rem 2rem 1.75rem 3.5rem;
    border: 1px solid color('gray-10');
    margin: 0;
    height: 100%;

    &::before {
      left: 1.5rem;
    }

    .usa-checkbox__label-description {
      margin-left: -2rem;
    }
  }

  .usa-radio__input--tile:checked + [class*=__label] {
    background-color: white;
    border-color: color('primary-lighter');
    box-shadow: 0px 4px 8px 0px #73B3E766;
  }
}

.lcid-summary-box .lcid-summary-box--heading {
  justify-content: space-between;
}
