@use 'uswds-core' as *;
@use 'colors' as *;

.easi-grt {
  // Overriding USWDS to change the Breadcrumb caret to white
  // The BG color is blue so by default, there's not enough color contrast
  &__request-summary .usa-breadcrumb__list-item:not(:last-child)::after {
    background-color: color('white');
  }

  &__request-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;

    dt {
      margin-bottom: 0.25em;
    }

    dd {
      margin: 0;
      font-weight: 600;
    }
  }

  &__request-info-col {
    display: flex;
  }

  &__description-group + &__description-group {
    margin-left: 2em;
  }

  &__nav-list {
    padding: 0;
    list-style-type: none;

    li {
      margin: 1em 0;
    }
  }

  &__nav-link {
    color: color('black');
    text-decoration: none;

    &:hover {
      color: color('primary');
    }

    &--active {
      font-weight: bold;
      color: $easi-bright-blue;
    }

    &--border {
      border-bottom: 1px solid color('disabled-light');
      padding-bottom: 0.75rem;
    }
  }

  &__status-group {
    display: flex;
    justify-content: space-between;

    dt, dd {
      display: inline;
    }
  }

  &__status-info {
    dd {
      margin: 0 1em 0 0;
    }
  }

  &__note-field {
    &.usa-textarea {
      height: 5rem;
    }
  }

  &__history {
    list-style-type: none;
    margin-top: 3.5em;
    padding-left: 1em;
  }

  &__history-item {
    display: flex;
    &:not(:last-of-type) {
      border-left: 1px solid color('black');
    }

    &:before {
      flex: none;
      content: '';
      background-color: color('black');
      height: 12px;
      width: 12px;
      margin-left: -6px;
      line-height: 24px;
      text-align: center;
      border-radius: 50%;
    }
  }

  &__history-item-content {
    width: 100%;
    margin-bottom: 2em;
    margin-left: 1em;
    padding-bottom: 2em;
    border-bottom: 1px solid color('disabled-dark');
  }
}
