.easi-progress-indicator {
  list-style: none outside;
  padding-left: 2rem;

  .easi-progress-indicator-label {
    font-size: 13px;
  }

  .easi-progress-indicator__step {
    border-left: solid 2px black;
    position: relative;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .easi-progress-indicator__icon {
    position: absolute;
    left: -2rem;
  }

  .easi-progress-indicator-step__completed {
    color: #162e51;
    border-color: #162e51;
  }

  .easi-progress-indicator-step__current {
    border-color: #005ea2;
    border-left-width: 4px;
    color: #005ea2;
    .easi-progress-indicator-name {
      font-weight: bold;
    }
    span {
      margin-left: -2px;
    }
  }
  .easi-progress-indicator-step__not_completed {
    color: #5c5c5c;
    border-color: #e6e6e6;
  }
}
