@use 'uswds-core' as *;

.usa-button-group.trb-admin-team-home-actions {
  row-gap: .5rem;
}

.easi-request-repo {
  &__tab-list {
    display: flex;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid color('black');
  }

  &__tab {
    border: none;
    background: none;

    &--active {
      font-weight: bold;
      border-bottom: 5px solid color('primary');
    }
  }

  &__tab + &__tab {
    margin-left: 2em;
  }

  &__tab-btn {
    display: block;
    padding: 1rem 0;
    background: none;
    border: none;
    line-height: 0.9;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }
}
