@use 'uswds-core' as *;

.easi-toast {
  .toastui-editor-contents {
    font-family: 'Public Sans';
    font-size: size('body', 4);
    line-height: line-height('body', 4);
  }

  .toastui-editor-contents *:not(table) {
    line-height: inherit;
  }

  .toastui-editor-contents p {
    margin: 0;
  }

  .toastui-editor-contents a {
    color: color('primary');
    &:focus {
      outline: 0.25rem solid color('blue-40v');
      outline-offset: 0;
    }
    &:active {
      color: color('primary-darker');
    }
    &:hover {
      color: color('primary-dark');
    }
  }

  .toastui-editor-contents ol,
  .toastui-editor-contents ul {
    margin-top: 1rem;
    margin-bottom: 1rem;

    & > li::before {
      all: unset;
    }
  }

  .toastui-editor-contents ul  {
    list-style-type: disc;
  }
  .toastui-editor-contents ol  {
    list-style-type: decimal;
    // Need to assign `list-item` since the lib's original uses `li`, which breaks ff
    counter-reset: list-item;
  }
}

.easi-toast-editor {
  // Match some rules from .usa-textarea
  margin-top: .5rem;

  .toastui-editor {
    min-height: 0 !important;
  }

  .toastui-editor-defaultUI {
    border-color: color('gray-60');
    border-radius: 0;
  }

  .toastui-editor-toolbar {
    height: auto;
  }
  .toastui-editor-defaultUI-toolbar {
    height: auto;
    background: white;
    border-bottom: 1px solid color('gray-10');
    padding: 4px 2px 2px;
  }
  .toastui-editor-dropdown-toolbar {
    height: auto;
    background-color: white;
  }

  .toastui-editor-toolbar-icons {
    border-color: white;
    border-radius: 4px;
    margin: 0 4px 0 0;
    &:hover {
      border-color: white !important;
    }
  }

  .toastui-editor-toolbar-divider {
    margin: 8px 8px 0 4px;
    height: 16px;
    background-color: color('gray-10');
  }

  .toastui-editor-main-container {
    position: static;
  }

  .toastui-editor-contents {
    padding: 6px 9px 9px;
    resize: vertical;
    height: 155px;
  }

  .toastui-editor-popup {
    box-shadow: 0px 8px 16px 0px #0000001A;

    @media only screen and (max-width: 480px) {
      margin-left: 0;
    }
  }

  .toastui-editor-popup-body {
    padding: 2rem;
    font-family: 'Public Sans';
    color: color('base-darkest');

    label,
    input {
      font-weight: 400;
      font-size: size('body', 4);
      line-height: line-height('body', 4);
    }

    label {
      margin: 1rem 0 0.5rem;
      color: color('base-darkest');

      &:first-child {
        margin-top: 0;
      }
    }

    input {
      border: 1px solid color('gray-60');
      border-radius: 0;
      padding: 9px 8px;
      width: 100%;
      height: auto;

      &:focus {
        outline: none;
        border-color: inherit;
      }
    }
  }

  .toastui-editor-button-container {
    margin-top: 1.5rem;
    text-align: left;

    button {
      all: unset;
      &:hover {
        all: unset;
      }

      .usa-button {
        width: auto;
        margin-top: 0;
      }
    }
  }

  .toastui-editor-toolbar-icons {
    background-size: 436px 47px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA2gAAABeCAYAAABW3TcQAAAUgElEQVR42u3dbawcVf3A8e+ltTwIikAJ5RRUHgQL1BfS1oDQi2gpCvLiH6pgGZ8AMcbbgkAoyKPFQq3SViEBStTRloc3kiKWkgLFKKRQEksIBgqKJocaUIQUaClQ/i9mrne67N5u7+7du7P7/SQNZ8/OLnvO3HN2fjtnfgOSJEmSJEmSJEmSJEmSJEmSJEmSJFXXYxdIUmcIIewMnA68G2O83R6RJKl8RtsFklT6wGwM8G3gUmB8XvdejPEOe0eSJAM0SSpDUDMOODV/eE+McUNJ23EmMA84sOKpw93LkrTdOfSjwGeAscBG4FlgTYxxq70jAzRJat0X8iTgfmDPvOr6EMK0GOPjJWvHCcBvcbm6JO3o/HkScA0wucrTL4cQFgELY4xv2FsyQBuZQToemA/0AuPqeMnrQAT+CNwZY3ygZO29FrgQGFPH5luABTHGy/xLUQdZWAjOyMsLgWMbGCtD0ej4Kn6ul4AXahxsULJ2SdJwHQONAn4KzBpks7HAXGBmCOHLMcb19pxaaScHahgPrAPOqDM4A9gdOAw4B1gVQlgdQji0RM3u24EDszH59lInmVhn3Y6MlaEGWEMeXzHGlcCX8rno48CKYZgDWt4uSRqmY77RwLKK4Gwz8CiwBLiX7MeufocDj4QQDrH3ZIDWWvOBvRp8j6nAmhDCcSVp82KyX7jrsSXfXuokT9ZZtyNjZSgaHl8xxhUxxiUxxjeHaQ4YkXZJ0jAEZ0uBGYXqVcDhMcZjYoznxBhPAfYH5gBv5dvsAywPIexmL6pVehyw4UXqP3O2Pf8FppTtVHgIoQ9Y1H/gFmOc5dBQh4/7ycBKBpY5vgqU7hq0Ku26Crgyf3h1jPEq97Yk5/yqwdmiGOPsQV4zhexSlv7VBpfGGOfZm2oFz6A1LzgD+Ahwawn74ORCeYV/Eup0McbHgAnAd/J/E8oenEmSmhOc5d8Ta4CrC1WzQwgeN6slTBLSfFNDCCeWJXFICGFXsuQoAJuA1e5CdUmQtgG4xZ6QJIOzGq4HLgD2BvYFjgYes2dlgDZyB289gwz4cUBClp612oX2XwHKktmxF9glL6+OMW5270uSpC4PzogxvhtCeByYnld9wgBNBmjtG7xtILtvEsB1VTY5vkTNcXmjJEnqpOBsp0aDs4J/Fcq727tqBdfSNiatNTcYoEmSJI2IeU0KzgCOLJRfsmtlgFZepVgmmN+7rf/eHutjjM+56yRJUlnl2RcvLlQtHmpwFkI4mG3vkbnGHpYBWvtLatT/tSSf37NnUmdZX6MsSd3i8kL5UeD8IQZnPcBtDOQa+HOMMdq9agWvQRvaoC0mCanmaQM0SSNgWY2yJHXD8dkHgS8Uqs6OMW4tPD8K+GSM8ak6grObgKmF6ivsYRmgjfwgf6+Bly8pQftMr69uH+PjgFPzh/fkyX9KLcb4HtmF8ZLUjSYwcMYrxhgrfzB/gOx2SA8D06tlrs6DsxuB8wrV82OMD9q9XXWMsAswF/haXrUU+OFg2c6b+RoDtOZbHmNcW4LP2Yvp9dW9E+8k4H5gz7zq+hDCNG9WLUmltneh/GzFvD8KOCp/OBW4FTirRnD23UL1b4E5dm3XuQ6YVXj8A7ITW7Nb8RoDtOYrS4Yflzeqmy0sBGfk5YXAsRVf1tcCF1L9fofNsAVYEGO8rMUBake2S1LXe6VQPrj4RH5PsyuAX+RVM0MIv4oxFu9be26V4OzrxWWS6hpn1qib3YrXmCSk+c4OIcw3QJPa2sQ66/qGMYghf+++EWh/p7ZLUhcIIYwOIcwJISwNIRxUeOoZ4J28fGAI4WMVQdqNwL2Fqksq3vpogzPl3qizblheY4A2PC4KIUxv44ntEAbS6z9nen11oSfrrFtMdjZouGzJ/x+t1qntktQFwRlZEqQfk519uLgQgL3GttfU31TlLb5XKPeGED5ceHwd2T1uLzQ463o/q7NuWF7T40BvKBnIYF4ADosxbmnDNvcBi/oP1GKMsxyH6rJxPxlYycAyx1cBr0GTpHIEZ6cXqr8VY/xlYZvPkSUD6dcXY/x5xfv8EzggfzjZuV81/t5mMLAEcVmM8a5WvcYArUaAFmPs2c7rxpEl2pgPjK+x2WkxxuVt2OYVQP8ZvpNjjPc5DNWFY79jsjiGEHYGPkuWwWwT8BfgiTyroyR1wpw9Kg/OZhSqb4gxXlBl218zcK/aV4CxFen2VzOQQv+kGOP99rDaiUlChig/mLs9hLASWFcjSPsq0FYBWp5ev39S2gQ87N5UF4/hWzrgoOVcsvvzhIqnHgohnB1j/Jt7W1IHWFARnC2sFpzlzs3nxBOBtVWWKh5WKP/HrlW78Rq0xg/yXqGw/rnCxDb8yL3Arnl5dYxxk3tRKm1wdipwc5XgDOAEYGUIYTd7SlLJ57ppbJsJb1GM8fxBjs3eijF+Pg/Eple810Rgv/zhZuBpe1gGaJ1pdY36A9rws5q9UeocHyqU/0GWPvo2srPjkCUDutBuklRy1xTKq2KMs+t5UYzx2eJS73yZ5JLCJvf5Q7XakUscuy8ANkCTOkSMcWkIYSNZspM7+pMShRBWAbfnmx1nT0kqqxDCgcCU/OFm4Jwhvk8P2Y9Yk/Kq94C59rAM0DpXb436F9tskjO9vtR5QVq161yfKpTH2UuSSmxKobwuxvjCEIOzm4DzCtVzY4xP2L1qRy5xbDzo2Yssk2M1a9vs43r2TOoO3yyUTR8tqczGFspPNSk4+w1wpV2rduUZtKEHZvWk2b+7zT72FwvlP7gXpY6cm04BihfPL7dXJJXYxuIU16Tg7BvehkQGaOU8yGl04D7fTgGa6fWl942JjrkPWqFNnyK79qz/Po73xRh/596WVGLPFMpHhxBGxxjfaTA422q3qp25xHH4XBRjfLuNPk8vpteX+r+4J5GlVr45//d0XlfmNu0P/B7YPa/6O3CWe1tSya0FXsrL+wCXGJyp03kGDTbQ/Ivof9KGv1p7/Zk0YCFZ5sN+e+Z1x1Z8yV9LlqZ+zDB9ji3AghjjZQ0GZ3uQLVvuX279GnBKjPHfNbYvRbskKca4NYRwAzAvr7o8hPBgjPERgzN1qp5u74AQwjLgjGYGZ8AlIzkJ7ODBlwdS6sZxv5GBM039Xo8x7lHHds32vv/vDrZlTB6cnZhXvQ2cHGN8YAfb31btkqTCnLUb8BhwRGGe+xEwr7jcMc9WfRtwvMGZyswzaHAxcBKwV4Pv8zzZssZ2OHPWR/2/jI/JtzdAUzd5EjimSl2lxQz/mabFDRy07ASkheAMYB1wXAih//5n64FlFRfEt3W7JKkoxvhmCOE04BFgX+ADZDevnh1CWEu2GupI4KiKec3gTKXUYxdACGE8WTbGXupf7vg62X3O1pIlA7m7Xa458wyatN0xMhlYycAyx1eBaTHGx0vWjhnAnXVsOjPGuNQ9L6nkc/dBZJlpj6hj8/nAHIMzGaBJUnm+6EufxTGEcDpwlwGapC6au3cFvk92O5H9qmzyJ+CKGOND9pYM0CRJI3GwMgOYMMgm1ZY4SlLZ574e4NPAocAewMvAmhjji/aOJEmSJEmSJEmSJEmSJEmSJEmSJEmSJEmSJEmSJEmSJEmSJEmSJEmSJEmSJEmSJEmSJEmSJEmSJEmSJEmSJEmSJEmSJEmSJEl6vx67QJI6RJLuDJwOvEua3G6HSJJkgCZJan1gNgb4NnApMD6vPYM0ucPOkSSpXEbbBZK6NKgZB5yaP7qHNNlQ0nacCcwDDqx45nB3siRtdw79KPAZYCywEXgWWEOabLVzNFI8gyapG7+QJwH3A3vmNa8C00iTx0vWjhOAB2rM5VeTJle5syWp6vx5EnANMLnKsy8Di4CFpMkbdpZazTNo2SAdD8wHeoFxdbzidSACfwTuJE0eKFl7rwUuBMbUsfUWYAFpcpl/KOogCwvBGXl5IXBsA2NlKBodX8XP9RLwQo2DDUrWLkkarmOgUcBPgVmDbDUWmAvMJEm/TJqst+PUSjs5UNPxwDrgjDqDM4DdgcOAc4BVJOlqkvTQErW6bwcOzMbk20udZGKddTsyVoYaYA19fKXJSuBL+Vz0cWDFMMwBrW+XJA3PMd9oYFlFcLYZeBRYAtxL9mNXv8OBR0jSQ+w8GaC11nxgrwbfYyqwhiQ9riRtXkz2C3c9tuTbS53kyTrrdmSsDEXj4ytNVpAmS0iTN4dpDhiZdklS84OzpcCMQu0q4HDS5BjS5BzS5BRgf2AO8Fa+zT7AcpJ0NztRreI1aEn6IvWfOdue/wJTSncqPEn7yNZaZwduaTLLoaEOH/eTgZWU/Rq097frKuDK/JHXoElS7eBsEWkye5DXTCG7lKV/tcGlpMk8O1Ot4Bm05gVnAB8Bbi1hH5xcKK/wT0IdL00eAyYA38n/TSh9cCZJak5wln1PrAGuLtTMJkk9blZLmCSk+aaSpCeWJnFIku5KlhwFYBOw2l2oLgnSNgC32BGSZHBWw/XABcDewL7A0cBjdqwM0Ebu4K1nkAE/DkjI0rNWu9D+K2Spr8ugF9glL68mTTa78yVJUpcHZ5Am75KkjwPT85pPGKDJAK19g7cNwPUkKcB1VbY4vkStcXmjJEnqpOBsp4aDswH/KpR3t3PVCq6lbTBUq1EfDNAkSZJGxLwmBWcARxbKL9m1MkArr3IsE8zu3dZ/b4/1pMlz7jpJklRaWfbFiws1i4ccnCXpwWx7j8w1drAM0EowDdSo/2tJPr9nz6TOsr5GWZK6xeWF8qPA+UMMznqA2xjINfBn0iTavWoFr0Eb2qAtJgmp5mkDNEkjYFmNsiR1w/HZB4EvFGrOJk22Fp4fBXySNHmqjuDsJmBqofYKO1gGaCM/yN9r4NVLStA+0+ur28f4OODU/NE9efKfckuT98gujJekbjSBgTNekTSp/MH8AbLbIT0MTK+auToLzm4EzivUzidNHrR7u+oYYRdgLvC1vGYp8MNBs5038TUGaM23nDRZW4LP2Yvp9dW9E+8k4H5gz7zmepJ0mjerlqRS27tQfrZi3h8FHJU/mgrcCpxVIzj7bqH2t8Acu7brXAfMKjz+AdmJrdmteI0BWvOVJcOPyxvVzRYWgjPy8kLg2Iov62uBC6l+v8Nm2AIsIE0ua3GA2pntktTtXimUD97mmeyeZlcAv8hrZpKkvyJNivetPbdKcPb1bZZJqlucWaNuditeY5KQ5jubJJ1vgCa1tYl11vUNYxBD/t59I9D+Tm2XpG6QpKNJ0jkk6VKS9KDCM88A7+TlA0nSj1UEaTcC9xZqLql456MNzpR7o866YXmNAdrwuIgknd7GE9shDKTXf870+upCT9ZZt5jsbNBw2ZL/P1qtU9slqRuCsywJ0o/Jzj5cXAjAXmPba+pvqvIO3yuUe0nSDxceX0d2j9sLDc663s/qrBuW1/Q40BtKBjKYF4DDSJMtbdjmPmDR/w7U0mSW41BdNu4nAysZWOb4KuA1aJJUjuDs9ELtt0iTXxa2+RxZMpB+faTJzyve55/AAfmjyc79qvH3NoOBJYjLSJO7WvUaA7RaAVqa9GzndePIEm3MB8bX2Oo00mR5G7Z5BdB/hu9k0uQ+R6G6cOx3ThbHJN0Z+CxZBrNNwF+AJ/KsjpLUCXP2qDw4m1GovYE0uaDKtr9m4F61rwBjK9Ltr2Yghf5JpMn9drDaiUlChio7mLudJF0JrKsRpH0VaK8ALUuv3z8pbQIedmeqi8fwLR1w0HIu2f15QsUzD5GkZ5Mmf3NnS+oACyqCs4VVg7PMufmceCKwtspSxcMK5f/YtWo3XoPW+EHeKxTXP29rYht+4l5g17y8mjTZ5E6UShucnQrcXCU4AzgBWEmS7mZHSSr5XDeNbTPhLSJNzh/k2Owt0uTzeSA2veK9JgL75Y82A0/bwWo3nkFrjtU16g9ow89q9kapc3yoUP4HcA/ZDzBn5v89hOxi92vsKkklVpzDVpEms+t6VZpUuxfakkLNff5QLQO07tOOZygN0KROkSZLSdKNZMlO7vhfUqIkXQXcnm91nB0lqbSS9EBgSv5oM3DOEN+nh+weaJPymveAuXawDNA6V2+N+hfbbJIzvb7UeUFatetcnyqUx9lJkkpsSqG8jjR5YYjB2U3AeYXauaTJE3av2pHXoDUe9OxFlsmxmrVt9mk9eyZ1h28WyqaPllRmYwvlp5oUnP0GuNKuVbvyDNrQA7N60uzf3Waf+ouF8h/ciVJHzk2nAMWL55fbKZJKbGOhHJoUnH3D25DIAK2cBzmNDtzn2ypAM72+VDkmOuc+aANt+hTZtWf993G8jzT5nTtbUok9UygfTZKOJk3eaTA422q3qp25xHH4XESavN1Gn6cX0+tL/V/ck8hSK9+c/3s6rytzm/YHfg/sntf8HTjLnS2p5NYCL+XlfYBLDM7U6TyDBhto/kX0P2nDX629/kwasJAs82G/PfO6Yyu+5K8lS1M/Zpg+xxZgAWlyWYPB2R5ky5b7l1u/BpxCmvy7xvblaJckpclWkvQGYF5eczlJ+iBp8ojBmQzQOtdq4IymBmf1/LoznLZ/8LWYJF3sgZS62MQ66/qGMYghf+8+4LIGxvsY4HfAp/Kat4H/I00Gu/lq+7dLkorHLTATOCKfX1aTpD8C5m2z3DHLVn0bcLzBmQzQyu1i4CRgrwbf53myZY3tcOZsRw6+PJBSN3oSOKZKXbWDguE+07S4geBsJyAFTizUrgOOI0n773+2HlhWcUF8e7dLkorS5E2S9DTgEWBf4ANkN6+eTZKuJVsNdSRwVMW8ZnCmUuqxC4AkHU+WjbGX+pc7vk52n7O1ZMlA7m6ba852bPmSZ9DUjWN+MrCSgWWOrwLTSJPHS9aOGcCddWw5kzRZ6o6XVPK5+yCyzLRH1LH1fGCOwZkM0CSpPF/05c/imKSnA3cZoEnqorl7V+D7ZLcT2a/KFn8CriBNHrKzZIAmSRqJg5UZwIRBtqi2xFGSyj739QCfBg4F9gBeBtaQJi/aOSq7/wdR93D9wP7owQAAAABJRU5ErkJggg==")
  }
}

// Prevent rich text viewer from overriding font styles
.easi-toast.easi-toast-viewer .toastui-editor-contents,
.easi-toast.easi-toast-viewer .toastui-editor-contents p {
  font-size: inherit;
  color: inherit;
}
