@use 'uswds-core' as *;
@use 'viewports' as *;

.easi-modal {
  &__has-title svg {
    color: color('primary');
  }


  &__content {
    width: 100%;
    height: 100%;
    max-height: 90vh;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.375em;

    .usa-modal__close {
      display: flex;
    }

    @media screen and (min-width: $tablet) {
      width: 668px;
      height: auto;
    }

    &--narrow {
      font-size: 1em;
      @media screen and (min-width: $tablet) {
        width: 480px;
      }
    }
  }

  &__align-left {
    min-width: 75%;
    left: auto;
    transform: translate(0, -50%);
  }

  &__align-right {
    min-width: 75%;
    right: 0;
    left: auto;
    transform: translate(0, -50%);
  }

  &__body {
    padding: 0 2rem 2rem;
  }
}
