// USWDS Settings

@use "uswds-core" with (
    $theme-font-path: '@uswds/uswds/fonts',
    $theme-image-path: '@uswds/uswds/img',
    // $theme-hero-image: '~@uswds/uswds/img/hero.png',

    // Override defaultUSWDS maximum width settings
    $theme-header-max-width: 'desktop-lg',
    $theme-grid-container-max-width: 'desktop-lg',
    $theme-footer-max-width: 'desktop-lg',

    // Override default USWDS body font
    $theme-font-type-sans: 'public-sans',

    // Override default sorted header background color
    $theme-table-sorted-header-background-color: 'white',

    // All utility classes use !important
    $utilities-use-important: 'true',

    // All heading roles use sans
    $theme-font-role-heading: 'sans',

    // // Disable showing updates and notifications logs
    $theme-show-notifications: false,

    // // Flex responsive classes
    $align-items-settings: (
        output: 'true',
        responsive: 'true',
        active: 'false',
        focus: 'false',
        hover: 'false',
        visited: 'false',
      ),

    $flex-settings: (
        output: 'true',
        responsive: 'false',
        active: 'false',
        focus: 'false',
        hover: 'false',
        visited: 'false',
      )
);
