// Custom USWDS Button
.easi-button {
  &__save {
    background-color: #f3966d;
    color: #171717;
    &:hover {
      background-color: #f3966d;
      color: #171717;
    }
  }
}

//  Global changes to usa-label
.usa-label {
  margin-top: 2rem;
  font-weight: bold;
}

// Global change to decrease space between field and label
.usa-select,
.usa-range,
.usa-input,
.usa-textarea {
  margin-top: 0.25rem;
}

// Textarea
.usa-textarea {
  height: 300px;
  max-width: 830px;
  width: 100%;
}

// The default font for this project should be Public Sans
[class*='font-heading-'],
.usa-accordion,
.usa-header {
  font-family: 'Public Sans';
}

.usa-footer {

  // Ideally, this width should be set in _settings.scss, alongside the other variables
  // but I don't see a scss variable in the USWDS docs to set.
  // We should investigate and see if USWDS has a variable they can support similarly
  // to the header.
  // e.g. $theme-footer-max-width: 'desktop-lg';
  &__primary-container {
    max-width: 75rem;
  }
}
