// Custom USWDS Button
.easi-button {
  &__save {
    background-color: #f3966d;
    color: #171717;
    &:hover {
      background-color: #f3966d;
      color: #171717;
    }
  }
}

// Textarea
.usa-textarea {
  height: 300px;
  max-width: 830px;
  width: 100%;

  @media (min-width: $desktop) {
    width: 830px;
  }
}
