// Custom USWDS Button
.easi-button {
  &__save {
    background-color: #f3966d;
    color: #171717;
    &:hover {
      background-color: #f3966d;
      color: #171717;
    }
  }
}

//  Global changes to usa-label
.usa-label {
  margin-top: 2rem;
  font-weight: bold;
}

// Textarea
.usa-textarea {
  height: 300px;
  max-width: 830px;
  width: 100%;
}

// The default font for this project should be Public Sans
[class*='font-heading-'],
.usa-accordion,
.usa-header {
  font-family: 'Public Sans';
  z-index: 300;
}

.usa-alert.easi-inline-alert {
  background-color: white;
  background-size: 1.6rem;
  background-position: 0.5rem 0.5rem;
  padding: 0;
  &::before {
    width: 0.2rem;
    background: #585c62;
  }
  .usa-alert__body {
    padding-left: 2.8rem;
  }
  .usa-alert__text:only-child {
    margin-bottom: 0;
  }
}

// Addiitional class names were introduced in v2.9.0
// There are breaking changes in this version that crash our application.
// On 2/7/2021, USWDS said a fix is on the way.
// https://github.com/uswds/uswds/issues/3909
// https://github.com/uswds/uswds/releases/tag/v2.9.0
.flex-align-self-center {
  align-self: center !important;
}

.bg-transparent {
  background-color: transparent;
}