@use 'uswds-core' as *;
@use 'colors' as *;

@media screen {
  .easi-only-print {
    display: none;
  }
}

@media print {
  html {
    font-size: 12px;
  }

  @page {
    @bottom-left {
      content: 'Page ' counter(page) ' of ' counter(pages);
    }
  }
}

@media print {
  .easi-no-print {
    display: none !important;
  }

  // TODO Assess if this is still needed now that we're no longer using Prince
  // Hide svg elements so that the page doesn't try to print SVGs when rendering as a PDF
  // (which commonly have issues unless they're specifically handled for accessibility)
  svg {
    display: none !important;
  }

  .easi-only-print {
    display: block;
  }

  // prince doesn't support overflow: auto
  // this is a different way to create a new block formatting context
  .overflow-auto {
    float: left;
    clear: both;
  }

  .easi-review-row {
    break-inside: avoid;
    display: flex;
    & > div {
      flex: 1;
      margin-bottom: 1.25rem;
    }
  }

  hr.system-intake__hr {
    opacity: 1;
    border-bottom: solid 5px color('black');
  }

  .easi-responsive-tabs__navigation {
    display: none;
  }

  .easi-responsive-tabs {
    border: 0;
    box-shadow: none;
  }

  .easi-business-case__review-solutions-wrapper {
    padding: 0;
  }

  .alternative-analysis-wrapper {
    background: color('white');
  }

  .est-lifecycle-cost__total {
    padding: 1rem;
  }
}
