@use 'uswds-core' as *;

.easi-dropdown {
  &--error.usa-select {
    padding-top: 3px;
    border-width: 0.25rem;
    border-color: color('error-dark');
    border-style: solid;
  }
  &--disabled.usa-select {
    background-color: $medium-gray;
  }
}
