@media print {
  .business-case-solution-header {
    border-top: solid 5px color('black');
    padding-top: 2.5rem;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

.business-case-review .easi-pdf-export__controls {
  padding-left: 2rem;
}

.easi-responsive-tabs__tab--selected .easi-responsive-tabs__tab-text {
  color: color('primary');
  border-bottom-color: color('primary');
}
