.easi-header {
  // HACK: Remove mystery 1px space underneath the border
  margin-bottom: -1px;
  border-bottom: 8px solid $turquoise;

  &__basic {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__username {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__wrapper {
    display: block;
    width: 100%;
  }

  &__dropdown-wrapper {
    position: relative;
  }

  &--desktop {
    display: none;
  }

  .navbar--container {
    display: none;
  }

  .usa-current {
    position: relative;

    &:after {
      background-color: #005ea2;
      border-radius: 0;
      content: '';
      display: block;
      position: absolute;
      height: 0.25rem;
      left: 1rem;
      right: 1rem;
      bottom: 0;
    }
  }

  &__nav-link {
    display: block;
    padding: 1rem;
    border: none;
    color: #565c65;
    line-height: 0.9;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__caret {
    margin-left: 5px;
    border: none;
    transform: rotate(0deg);
    cursor: pointer;

    &--rotate {
      transform: rotate(180deg);
    }
  }

  .grid-container {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop) {
    .site-logo {
      margin-bottom: 2rem;
    }

    .navbar--container {
      display: flex;
      align-items: center;
    }

    .sidenav-mobile {
      display: none;
    }

    .grid-container {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .easi-header {
      &--desktop {
        display: block;
      }
    }
  }
}
