.easi-initials-icon {
  height: 32px;
  width: 32px;
  display: flex;
  background-color: color('accent-cool-lighter');
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 14px;
}
