.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $black;

  &__logo {
    width: 100px;
  }

  &__link-container {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__logout-btn,
  &__nav-link {
    align-self: center;
    padding: 0 5px;
    color: #000;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__logout-btn {
    background: none;
    border: none;
    font: inherit;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
