.trb-form-header {
  .usa-step-indicator__segment-label .long {
    display: none;
  }
  .usa-step-indicator__heading-text .name {
    display: none;
  }

  .usa-step-indicator__segment--clickable {
    cursor: pointer;
  }
}
