.site-nav-secondary {
  display: none;

  @include at-media('desktop') {
    background-color: color('white');
    border-bottom: units($site-border-width) solid
      color($site-base-transparent-light);
    clear: both;
    display: block;
    height: units($height-nav-secondary);
    padding-left: units(2);
    z-index: z-index($z-nav-secondary);
  }

  &.sticky {
    @include u-z(200);
  }

  ul {
    @include unstyled-list;

    li {
      display: inline;
    }
  }

  a {
    @include typeset('lang', 'xs', 1);
    color: color('gray-50');
    display: inline-block;
    font-weight: fw('normal');
    height: units($height-nav-secondary);
    padding: units(2);
    position: relative;
    text-decoration: none;

    .page-home & {
      color: color('ink');
    }

    &:hover {
      @include add-bar(0.5, $site-primary-vivid, 'bottom', 0, 2, 0);
      color: color($site-primary-vivid);
    }
  }

  .usa-current {
    @include add-bar(0.5, $site-primary-vivid, 'bottom', 0, 2, 0);
    color: color($site-ink);
    font-weight: fw('bold');

    &:hover {
      color: color($site-ink);
    }
  }
}
