@use 'uswds-core' as *;
@use 'colors' as *;

.easi-grt {
  &__note-field {
    &.usa-textarea {
      height: 5rem;
    }
  }

  &__history {
    list-style-type: none;
    margin-top: 3.5em;
    padding-left: 1em;
  }

  &__history-item {
    display: flex;
    &:not(:last-of-type) {
      border-left: 1px solid color('black');
    }

    &:before {
      flex: none;
      content: '';
      background-color: color('black');
      height: 12px;
      width: 12px;
      margin-left: -6px;
      line-height: 24px;
      text-align: center;
      border-radius: 50%;
    }
  }

  &__history-item-content {
    width: 100%;
    margin-bottom: 2em;
    margin-left: 1em;
    padding-bottom: 2em;
    border-bottom: 1px solid color('disabled-dark');
  }
}
