{{ template "easi_header.gohtml" }}

<p>{{.MemberName}} is now listed as {{.Roles}} for {{.SystemName}} in EASi. They can use EASi to access and manage
  information about team members, governance requests, and other information about the system.</p>

<p>If you believe this was an error, you may remove them from the <a href="{{.TeamLink}}">Team space</a> of this
  system's workspace.</p>

<a href="{{.SystemWorkspaceLink}}">Visit this system's workspace in EASi</a>