{{ template "easi_header.gohtml" }}

<p>You are now listed as {{.Roles}} for {{.SystemName}} in EASi. You can use EASi to access and manage information about
  team members, governance requests, and other information about your system.</p>

<a href="{{.SystemWorkspaceLink}}">Visit your system's workspace in EASi</a>

<p>If you believe this was an error, you may remove yourself from the <a href="{{.TeamLink}}">Team space</a> of this
  system's workspace.</p>