<p><pre style="white-space: pre-wrap; word-break: keep-all;">You are receiving this email as a part of ongoing work for {{.ProjectName}} in EASi.
If you have any questions, please contact the IT Governance team at {{.GRTEmail}} or contact this request's original author, {{.Requester}}.</pre></p>
<p>The Life Cycle ID for {{.ProjectName}} has been extended</p>
<p>Expiration Date: {{.NewExpiresAt}}</p>
<p>Scope: <pre style="white-space: pre-wrap; word-break: keep-all;">{{.NewScope}}</pre></p>
{{if .NewNextSteps}}<p>Next Steps: <pre style="white-space: pre-wrap; word-break: keep-all;">{{.NewNextSteps}}</pre></p>
{{end}}
{{if .NewCostBaseline}}<p>Cost Baseline: <pre style="white-space: pre-wrap; word-break: keep-all;">{{.NewCostBaseline}}</pre></p>
{{end}}
<p>If you are the original author of this request, you may use this link to <a href="{{.DecisionLink}}">view the request in EASi.</a></p>