<p><strong>Reporter</strong></p>
<p>{{if .Name}}{{.Name}}{{end}}, {{if .Email}}{{.Email}}{{end}}</p>
<br/>
<hr>
<br/>
<p><strong>What do you need help with?</strong></p>
<p>{{if .Body}}{{.Body}}{{else}}-{{end}}</p>
