<p><strong>User Name</strong></p>
<p>{{if .Name}}{{.Name}}{{else}}-{{end}}</p> 


<p><strong>User Email</strong></p>
<p>{{if .Email}}{{.Email}}{{else}}-{{end}}</p> 


<p><strong>What do you need help with?</strong></p>
<p>{{if .Body}}{{.Body}}{{else}}-{{end}}</p>
