<p><pre style="white-space: pre-wrap; word-break: keep-all;">The requester for {{.ProjectName}} does not have a valid EUA ID; EASi cannot notify them of updates to their request.</pre></p>
<br>
<p>Requester EUA ID: {{.RequesterEUAID}}</p>
<p>Intake ID: {{.IntakeID}}</p>
<p><a href="{{.GRTIntakePath}}">See the relevant request</a></p>