<p><pre style="white-space: pre-wrap; word-break: keep-all;">The request for {{.ProjectName}} does not have an associated EUA ID; EASi cannot notify the requester of updates to their request.</pre></p>
<br>
<p>Intake ID: {{.IntakeID}}</p>
<br>
<p><a href="{{.GRTIntakePath}}">See the relevant request</a></p>