<p>Lifecycle ID issued for {{.RequestName}} is set to expire on {{.ExpirationDate}}.</p>
<p>You may use this link to <a href="{{.DecisionLink}}">view the LCID information in EASi.</a></p>
<p>Please take necessary action to review the project with the project team</p>