{{template "easi_header.gohtml"}}

<p>{{.TRBLeadName}} has completed a draft advice letter for {{.TRBRequestName}}. This advice letter is now ready for internal review. Please take a moment to look over the draft and make any suggestions for improvement.</p>

<p><a href="{{.TRBAdviceLetterLink}}" style="font-weight: bold">View the Advice Letter</a></p>

<p><a href="{{.TRBRequestLink}}" style="font-weight: bold">View the request in EASi</a></p>
