.change-status-modal {
  .easi-modal__body {
    min-height: 624px;
  }
}

.site-logo a {
  padding-left: 0;
}

.site-accordion-code .usa-unstyled-list > li,
.site-nav-secondary ul > li {
  margin-bottom: 0;
  max-width: unset;
}

dl.detail-list {
  margin: 0;
  dt {
    font-weight: bold;
  }
  dd {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

ol.past-requests {
  list-style: none outside;
  padding-left: 0;
  li {
    margin-bottom: 1rem;
  }
}

.status-modal {
  .status-modal__content {
  }
  .status-modal__body {
    min-height: 26rem;
    legend {
      font-weight: bold;
    }
    .usa-memorable-date {
      margin-bottom: 0.5rem;
      .usa-label {
        margin-top: 0.5rem;
        font-weight: normal;
      }
    }
  }
  .status-modal__footer {
  }
}

.add-date-modal {
  fieldset {
    margin-bottom: 2rem;
  }
  legend {
    font-weight: bold;
  }
  .usa-label {
    margin-top: 0.5rem;
    font-weight: normal;
  }
}

.note-list {
  list-style: none outside;
  padding-left: 0;
  margin-top: 2rem;
  li {
    margin-bottom: 1rem;
    hr {
      margin-top: 1rem;
    }
    &:last-child {
      hr {
        display: none;
      }
    }
  }
}

form {
  label:first-child {
    margin-top: 0;
  }
}

.ds-c-tabs a:focus {
  z-index: 10;
}

.easi-column-reverse {
  flex-direction: row-reverse;
}
