.secondary-nav {
  flex: 1;

  &__link {
    display: block;
    padding: 1rem;
    border: none;
    color: #565c65;
    line-height: 0.9;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: $desktop) {
    // Matching USWDS specificity to remove CSS rule
    .usa-nav__primary {
      .usa-current {
        &:after {
          display: none;
        }
      }
    }
  }
}
