.easi-section {
    &__border {
        border: 1px solid #A9AEB1;
    }
    &__border-bottom {
        border-bottom: 1px solid #A9AEB1;
    }
    &__border-top {
        border-top: 1px solid #A9AEB1;
    }
}