@use 'uswds-core' as *;

.navigation {
    margin-bottom: -1px;
    border-top: 1px solid color('base-lighter');
    flex: 1 0 auto;
    width: 100%;

    &__content {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        background-color: 'white';
        z-index: 100;
    }
}

.sticky-nav-header {
    display: flex;
    background-color: white;
    width: 100%;
}
