.easi-nav {
    display: flex;

    &__mobile {
        margin-bottom: 10px;
        background-color: #efefef;
    }

    &__item {
        display: flex;
        height: 3.2em;

        &__mobile {
            padding: 1em;
        }
    }

    &__current {
        height: 4px;
        background-color: #005EA2;
        margin-top: 8px;
        pointer-events: none;
    }    

}