@use 'uswds-core' as *;
@use 'colors' as *;
@use 'viewports' as *;

.usa-nav {
    margin-left: -1em
}

.usa-nav__primary-item {
    .easi-nav {
        display: flex;

        &__item {
            display: flex;
        }

        &__user {
            color: color('base');
        }

        &__link {
            color: color('base-dark');
            padding: 1em;            
        }

        &__current {
            height: .25em;
            background-color: $easi-blue;
            margin-top: .5em;
            pointer-events: none;
        }

        &__signout-container {
            margin-top: 2em
        };

        a {   
            &:visited {
                color: color('base-dark')
            }             
        }

        .usa-current {
            color: $easi-blue;
            .usa-logo__text {
                color: $easi-blue;
            }
        }

    }
}
