@use 'uswds-core' as *;
@use 'colors' as *;
@use 'viewports' as *;

.usa-header--extended .usa-nav {
    border-top: none !important;
}

.usa-header--basic .usa-nav {
    justify-content: flex-start !important;
}

.nav-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem;
    padding-left: 2rem;
    padding-right: 2rem;

    @media (max-width: $desktop) {
        padding: 0;

        .usa-navbar {
            justify-content: end;
        }
    }
}

.usa-nav__primary-item {
    .easi-nav {
        &__item {
            display: flex;
        }

        &__user {
            color: color('base');
        }

        &__link {
            color: color('base-dark');
            padding: 1em;
        }

        &__sublink {

            padding-left: 1rem !important;
            &:hover {
                text-decoration: none !important;
            }
            @media (min-width: $desktop) {
                color: white !important;
            }
        }

        &__current {
            height: .25em;
            background-color: $easi-blue;
            margin-top: .5em;
            pointer-events: none;
        }

        &__signout-container {
            margin-top: 2em
        };

        a {
            &:visited {
                color: color('base-dark')
            }
        }

        .usa-current {
            color: $easi-blue;

            .usa-logo__text {
                color: $easi-blue;
            }
        }
    }

    @media (min-width: $desktop) {
        .easi-nav {
            display: flex;
        }
    }

    .usa-accordion__button.usa-current[aria-expanded="false"] {
        color: $easi-blue;
    }
}

.usa-header--basic .usa-nav__link:not(.system-dropdown):hover::after {
    bottom: 0rem !important;
}

.usa-nav__submenu {
    @media (min-width: $desktop) {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;

        .usa-nav__submenu-item a {
            padding-bottom: 0.25rem !important;
        }
    }
}

.system-dropdown:hover {
    @media (min-width: $desktop) {
        color: color('base-dark') !important;
    }

    &::after {
        bottom: 0 !important;
    }
}
