@use 'uswds-core' as *;

.technical-assistance {
  .trb-admin-alert {
    .usa-alert {
      max-width: 75rem;
    }
  }
  .trb-requests-table {
    th:last-child, tr:last-child {
      width: 200px;
    }
  }
  .usa-form {
    /* Top margin for 1st level form groups */
    > .usa-form-group {
      margin-top: 2rem;

    }
    .usa-form-group {
      /* Smaller top margin for nested form groups */
      .usa-fieldset .usa-form-group {
        margin-top: .5rem;
      }

      /* Labels and legends */
      legend {
        font-weight: 700;
      }
      .usa-legend {
        margin-bottom: 0;
      }
      .usa-label {
        max-width: none;
        margin-bottom: .5rem;
        .usa-hint {
          display: block; /* line break between label and hint */
          font-weight: normal;
          margin-top: .25rem;
        }
      }
      /* Radio & checkbox label spacing */
      .usa-radio__label,
      .usa-checkbox__label {
        margin-top: .75rem;
        letter-spacing: -.01em;

      }
      .easi-multiselect .usa-checkbox__label {
        margin-top: 0;
      }

      /* These input types and containers expand to their container width */
      .usa-input,
      .usa-textarea,
      .usa-combo-box,
      .usa-file-input {
        max-width: 100%;
      }

      /* Textarea max height */
      .usa-textarea {
        max-height: 155px;
      }

      /* Date picker undo width wrapping */
      /*
      .usa-date-picker__calendar {
        @media (min-width: $desktop) {
          width: 20rem;
        }
      }
      */

      /* Errors messages under group field labels */
      .usa-error-message {
        padding-bottom: 0;
      }
    }

    /* Button styling */
    a.usa-button {
      color: color('white');
      text-decoration: none;
      &:visited {
        color: color('white');
      }
      &:hover {
        color: color('white')
      }
      &--outline {
        color: color('primary');
        &:visited {
          color: color('primary');
        }
        &:hover {
          color: color('primary-dark')
        }
      }
    }
  }

  /* Form level error alert */
  .usa-alert--error {
    button.usa-error-message {
      padding: 0;
      line-height: inherit;
      text-align: left;
    }
  }
}
