@use 'uswds-core' as *;

.easi-governance-decision {
  &__info {
    background-color: color('success-darker');
    color: color('white');
    line-height: 1.5;
  }

  &__accordion {
    .usa-button--unstyled {
      color: color('white');
      &:hover {
        color: color('white');
      }
    }
  }
}
