@use 'uswds-core' as *;

button#startGrbReview {
  scroll-margin-top: 4rem;
}

.grb-review-select-checkbox {
  label {
    margin-top: 0;
  }

  &_header {
    .usa-checkbox__input:disabled + [class*=__label], .usa-checkbox__input[aria-disabled=true] + [class*=__label] {
      cursor: pointer;
      color: color('primary');
    }

    .usa-checkbox__input:checked:disabled + [class*=__label]::before, .usa-checkbox__input:checked[aria-disabled=true] + [class*=__label]::before {
      background-color: color('primary');
      box-shadow: 0 0 0 2px color('primary');
    }
  }
}
