@use 'uswds-core' as *;

#grbReview {
  button#startGrbReview,
  #discussions,
  #documents,
  #participants {
    scroll-margin-top: 4rem;
  }
}

.grb-review-select-checkbox {
  label {
    margin-top: 0;
  }

  &__header {
    .usa-checkbox__label {
      color: color('primary');
      text-decoration: underline;

      &::before {
        z-index: 2;
      }
    }

    &:hover .usa-checkbox__label {
      color: color('primary-dark');
    }
  }
}

.grb-discussions .internal-discussions-board {
  &__header {
    gap: 1rem;
    p {
      flex: 2 1 auto;
    }
  }
}
