.easi-home {
  &__confirmation {
    display: flex;
    align-items: center;
    padding: .75em 0;
    background-color: color($theme-color-success-lighter);
    border-left: 5px solid color($theme-color-success);
  }

}
