// .scss settings

// USWDS theme overrides
@forward './stylesheets/_settings.scss';

// USWDS typography/color theme used below
@use 'uswds-core' as *;
@use 'colors' as *;

// USWDS all packages
@forward 'uswds';

// Vendor Styles
@forward '../node_modules/font-awesome/css/font-awesome.min.css';
@forward '@okta/okta-signin-widget/css/okta-sign-in.min.css'; // use path /css instead of /dist/css because that's what the package exports (even though it doesn't match the filesystem)
@forward '@trussworks/react-uswds/lib/index.css';

// Custom USWDS
@forward './stylesheets/custom.scss';

// Print styles (used for PDF generation)
@forward './stylesheets/print.scss';

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  scroll-behavior: auto;
}

body {
  margin: 0;
  font-family: 'Public Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: initial;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: size('body', $theme-h1-font-size);
}
h2 {
  font-size: size('body', $theme-h2-font-size);
}
h3 {
  font-size: size('body', $theme-h3-font-size);
}
h4 {
  font-size: size('body', $theme-h4-font-size);
}

h5 {
  font-size: size('body', $theme-h5-font-size);
}

.pointer {
  cursor: pointer !important;
}
.no-pointer {
  pointer-events: none !important;
}

.skipnav {
  top: 0;
  left: 0;
  position: absolute;
  padding: 1rem 1.5rem;
  transform: translateY(-100%);
  transition: all 0.2s ease-in-out;
  background-color: color('white');
  color: color('black');
  z-index: 100;

  &:focus {
    transform: translateY(0%);
  }
}

#main-content {
  outline: none;
  border-top: 0;

  table {
    tr {
      p {
          margin: 0;
      }

      th {
        border-bottom: 0.5px solid color('black');
        border-top: 0;
      }
    }
    td {
      border-top: .5px;
      white-space: unset;
      border: 0;
      border-bottom: 0.5px solid color('base-darkest');
    }
  }
}



// Add `flex-gap`, `flex-row-gap`, and `flex-column-gap` util classes
$sizes: '05', 1, '105', 2, '205', 3, 4, 5, 6, 7, 8, 9, 10;
@mixin gap($property) {
  @each $size in $sizes {
    &.flex-#{$property}-#{$size} {
      #{$property}: units($size)
    }
  }
}

.display-flex {
  @include gap('gap');
  @include gap('row-gap');
  @include gap('column-gap');
}


// Common list styles
ul.list-style-none {
  list-style: none;
}
ul.list-style-middot {
  padding-left: 2rem;
  list-style: none;
  li::before {
    position: absolute;
    margin-left: -1rem;
    content: '•';
  }
}
ul.list-style-middot-inner {
  padding-left: 0;
  list-style: none;
  li::before {
    content: '• ';
  }
}

.display-list-item {
  display: list-item
}
