@use 'uswds-core' as *;

ul.usa-sidenav a:not(.usa-button) {
  &:not(.usa-current) {
    color: color('base-darkest');
  }

  &:hover {
    background-color: transparent;
  }

  &.usa-current:hover {
    color: color('primary-dark')
  }
} 
