name: Build and Push Cedarproxy Image

on:
  workflow_call:
    inputs:
      force_cedarproxy:
        required: true
        type: boolean
        default: true # Per EASI-4374, we want to force cedarproxy deployments in the event pipeline deployment is skipped/cancelled

env:
  EASI_APP_NODE_VERSION: "20.12.2"
  GIT_HASH: ${{ github.sha }}
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  GIT_REF_NAME: ${{ github.ref }}

permissions:
  id-token: write
  contents: read

jobs:
  build_cedarproxy_image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5
      - name: Check for changes to cedarproxy folder
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            cedarproxy:
              - 'pkg/cedar/core/gen/**' # This covers the scenario where deploy workflow requires new Cedarproxy image
              - 'cedarproxy/**'
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        if: ${{ steps.changes.outputs.cedarproxy == 'true' || inputs.force_cedarproxy == true }}
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Configure AWS credentials
        if: ${{ steps.changes.outputs.cedarproxy == 'true' || inputs.force_cedarproxy == true }}
        uses: aws-actions/configure-aws-credentials@v4.3.1
        with:
          role-to-assume: ${{ secrets.AWS_INFRA_OIDC_ROLE_TO_ASSUME }}
          aws-region: us-west-2
      - name: Login to Amazon ECR
        if: ${{ steps.changes.outputs.cedarproxy == 'true' || inputs.force_cedarproxy == true }}
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Setup Docker Buildx
        if: ${{ steps.changes.outputs.cedarproxy == 'true' || inputs.force_cedarproxy == true }}
        uses: docker/setup-buildx-action@v3
      - name: Build, tag, and push image to Amazon ECR
        if: ${{ steps.changes.outputs.cedarproxy == 'true' || inputs.force_cedarproxy == true }}
        uses: docker/build-push-action@v6
        with:
          context: ./cedarproxy/
          file: ./cedarproxy/Dockerfile.cedarproxy
          push: true
          tags: ${{ steps.login-ecr.outputs.registry }}/easi-cedarproxy:${{ env.GIT_HASH }}
      - name: Announce failure
        if: ${{ failure() }}
        run: |
          ./scripts/github-action-announce-broken-branch
