name: build_db_clean_image

on:
  schedule:
    - cron: "0 6 * * 6"

env:
  AWS_DEFAULT_REGION: us-west-2
  DOCKER_BUILDKIT: 1
  GIT_REF_NAME: ${{ github.ref }}

jobs:
  build_db_clean_image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4.1.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Build, tag, and push image to Amazon ECR
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.db_clean
          push: true
          tags: ${{ steps.login-ecr.outputs.registry }}/easi-db-clean:latest
          cache-from: type=gha,scope=${{ env.GIT_REF_NAME  }}-easi-db-clean
