name: PR Build and Test

on:
  pull_request:

# This concurrency group exists with cancel-in-progress: true so that only the latest run of the workflow is executed (as its all that should matter).
concurrency:
  group: pr-build-and-test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Build_Application_Images:
    uses: ./.github/workflows/build_application_images.yml
    secrets: inherit

  Build_Test_Frontend_Assets:
    uses: ./.github/workflows/build_frontend_assets.yml
    secrets: inherit
    with:
      env: test
  
  Build_easi-frontend_image:
    uses: ./.github/workflows/build_frontend_image.yml
    secrets: inherit

  Run_Tests:
    uses: ./.github/workflows/run_tests.yml
    needs: [Build_Application_Images,Build_Test_Frontend_Assets]
    secrets: inherit

  Deploy_to_EKS:
    uses: ./.github/workflows/deploy_to_eks.yml
    needs: [Build_Application_Images,Build_easi-frontend_image]
    secrets: inherit
    with:
      namespace: easi-pr-${{ github.event.number }}
