name: Deploy to Environment

on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
      lambda_version:
        required: true
        type: string

env:
  EASI_APP_NODE_VERSION: "16.14.0"
  EASI_APP_GO_VERSION: "1.18.3"
  GIT_HASH: ${{ github.event.pull_request.head.sha || github.sha }}
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  ENV: ${{ inputs.env }}

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.env }}
    env:
      APP_ENV: ${{ inputs.env }}
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          ref: ${{ env.GIT_HASH }}
      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.EASI_APP_NODE_VERSION }}
          cache: 'yarn'
      - name: Install yarn dependencies
        run: yarn install --frozen-lockfile
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2.1.0
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_TO_ASSUME }}
          aws-region: us-west-2
      - name: Clean the database
        if: ${{ contains(inputs.env, 'dev') && vars.ENABLE_DEV_DB_CLEAN == '1' }}
        run: |
          ./scripts/db_lambda_invoke "easi-app-db-clean-tmp" "" "easi-app-db-clean"
      - name: Backup the database
        if: contains(inputs.env, 'impl') || contains(inputs.env, 'prod')
        run: |
          ./scripts/rds-snapshot-app-db
      - name: Run database migrations
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
          ECR_REPOSITORY: easi-db-migrate
          NEW_IMAGE_TAG: ${{ env.GIT_HASH }}
          TASK_FAMILY: "easi-app-db-migrate-${{ inputs.env }}"
          ECS_CLUSTER: "${{ inputs.env }}-easi-app"
          SECURITY_GROUP_NAME: "ecs-easi-app-db-migrate-${{ inputs.env }}"
        run: |
          export TASK_REVISION=$(./scripts/update_ecs_task_definition.sh)
          ./scripts/run_ecs_task.sh
      - name: Deploy EASI ECS service
        env:
          ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
          ECR_REPOSITORY: easi-backend
          NEW_IMAGE_TAG: ${{ env.GIT_HASH }}
          TASK_FAMILY: "easi-app-${{ inputs.env }}"
          ECS_CLUSTER: "${{ inputs.env }}-easi-app"
          SERVICE_NAME: easi-app
        run: |
          export TASK_REVISION=$(./scripts/update_ecs_task_definition.sh)
          ./scripts/deploy_ecs_service.sh
      - name: Wait for /healthcheck to return new version
        env:
          APP_ENV: ${{ inputs.env }}
          NEW_IMAGE_TAG: ${{ env.GIT_HASH }}
        run: |
          ./scripts/healthcheck "$NEW_IMAGE_TAG"
      - name: Build static assets and release to S3
        env:
          LD_CLIENT_ID: ${{ secrets.LD_CLIENT_ID }}
          OKTA_CLIENT_ID: ${{ secrets.OKTA_CLIENT_ID }}
          OKTA_SERVER_ID: ${{ secrets.OKTA_SERVER_ID }}
          STATIC_S3_BUCKET: ${{ secrets.STATIC_S3_BUCKET }}
        run: |
          ./scripts/release_static
      - name: Announce failure
        if: ${{ failure() }}
        run: |
          ./scripts/github-action-announce-broken-branch
